In [1]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime 

%matplotlib inline

#  1. Import an event log (csv format only) as a pandas dataframe

In [2]:
original = pd.read_csv('hospital_billing.csv', index_col = 0)
original.head(2)

,case_id,activity,lifecycle,resource,timestamp,actorange,actred,blocked,casetype,closecode,...,iscancelled,isclosed,msgcode,msgcount,msgtype,speciality,state,version,activity_instance_id,.order
1,A,NEW,complete,ResA,2012-12-16 19:33:10,NaN,NaN,False,A,NaN,...,False,True,NaN,NaN,NaN,A,In progress,NaN,1,1
2,A,FIN,complete,NaN,2013-12-15 19:00:37,NaN,NaN,NaN,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,Closed,NaN,2,2

In [3]:
original.columns

Index(['case_id', 'activity', 'lifecycle', 'resource', 'timestamp',
       'actorange', 'actred', 'blocked', 'casetype', 'closecode', 'diagnosis',
       'flaga', 'flagb', 'flagc', 'flagd', 'iscancelled', 'isclosed',
       'msgcode', 'msgcount', 'msgtype', 'speciality', 'state', 'version',
       'activity_instance_id', '.order'],
      dtype='object')

# 2. Rename the attributes as “caseid, activity, ts” if names are different (ts is for timestamp!)

In [4]:
original = original.rename(columns = 
             {
              'case_id'             : 'caseid',
              'activity'            : 'activity',
              'timestamp'  : 'ts'
             })

In [5]:
original.head(2)

,caseid,activity,lifecycle,resource,ts,actorange,actred,blocked,casetype,closecode,...,iscancelled,isclosed,msgcode,msgcount,msgtype,speciality,state,version,activity_instance_id,.order
1,A,NEW,complete,ResA,2012-12-16 19:33:10,NaN,NaN,False,A,NaN,...,False,True,NaN,NaN,NaN,A,In progress,NaN,1,1
2,A,FIN,complete,NaN,2013-12-15 19:00:37,NaN,NaN,NaN,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,Closed,NaN,2,2

# 3. Create an event log (= a new dataframe) retaining only the caseid, activity and ts attributes

In [6]:
df_hospital_event = pd.DataFrame(data = original, columns= ['caseid', 'activity', 'ts'])
df_hospital_event.head()

  caseid activity                   ts
1      A      NEW  2012-12-16 19:33:10
2      A      FIN  2013-12-15 19:00:37
3      A  RELEASE  2013-12-16 03:53:38
4      A  CODE OK  2013-12-17 12:56:29
5      A   BILLED  2013-12-19 03:44:31

## -> remove a record with NA as a value of 'caseid'

In [7]:
null_data = df_hospital_event[df_hospital_event['caseid'].isna()]
null_data

    caseid activity                   ts
213    NaN      NEW  2012-12-14 22:52:38

In [8]:
df_hospital_event.dropna(subset = ['caseid'], axis = 0,  inplace = True)

In [9]:
null_data = df_hospital_event[df_hospital_event['caseid'].isna()]
null_data

Empty DataFrame
Columns: [caseid, activity, ts]
Index: []

# 4. Create a new dataframe with columns caseid, list of events in a case (ordered by timestamp)

In [10]:
event_df = pd.DataFrame(columns = ['Caseid','List of events ordered by timestamp'])

In [11]:
group_tmp = df_hospital_event.groupby('caseid')
id_list = df_hospital_event['caseid'].unique().tolist()

In [12]:
for caseid in id_list:
    tmp_df = group_tmp.get_group(caseid).sort_values(by = 'ts', ascending=True)
    a = tmp_df['activity'].to_list()
    event_df=event_df.append({'Caseid':caseid, 'List of events ordered by timestamp':a},ignore_index=True)

In [13]:
event_df.head(3)

  Caseid                List of events ordered by timestamp
0      A               [NEW, FIN, RELEASE, CODE OK, BILLED]
1      B                                      [NEW, DELETE]
2      C  [NEW, FIN, RELEASE, CODE OK, REOPEN, CHANGE DI...

# 5. Augment the event log created at 4 with two new attributes: duration, event_number
duration = ts(last event in case) - ts(first event in case)
Event_number: number of events in a case

In [14]:
event_df['Duration'] = np.nan
event_df['Event_number'] = np.nan
event_df.head(5)

,Caseid,List of events ordered by timestamp,Duration,Event_number
0,A,"[NEW, FIN, RELEASE, CODE OK, BILLED]",NaN,NaN
1,B,"[NEW, DELETE]",NaN,NaN
2,C,"[NEW, FIN, RELEASE, CODE OK, REOPEN, CHANGE DI...",NaN,NaN
3,D,"[NEW, FIN, RELEASE, CODE OK, BILLED]",NaN,NaN
4,E,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...",NaN,NaN

In [15]:
for caseid in id_list:
    tmp_df = group_tmp.get_group(caseid)
    time = pd.to_datetime(tmp_df['ts'])
    min_time= time.min()
    max_time = time.max()
    duration = max_time-min_time

    event_df.loc[event_df['Caseid']==caseid, ["Duration","Event_number"]] = duration, len(tmp_df)

In [16]:
event_df.head(5)

,Caseid,List of events ordered by timestamp,Duration,Event_number
0,A,"[NEW, FIN, RELEASE, CODE OK, BILLED]",367 days 08:11:21,5.0
1,B,"[NEW, DELETE]",306 days 17:03:15,2.0
2,C,"[NEW, FIN, RELEASE, CODE OK, REOPEN, CHANGE DI...",129 days 10:27:51,10.0
3,D,"[NEW, FIN, RELEASE, CODE OK, BILLED]",389 days 00:50:51,5.0
4,E,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...",123 days 00:42:42,6.0

In [17]:
event_df.tail()

,Caseid,List of events ordered by timestamp,Duration,Event_number
9994,LTN,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...",237 days 18:54:24,6.0
9995,MTN,"[NEW, DELETE]",0 days 01:25:35,2.0
9996,NTN,"[NEW, FIN]",360 days 20:50:52,2.0
9997,OTN,"[NEW, FIN, RELEASE, CODE OK, BILLED]",369 days 21:54:42,5.0
9998,PTN,"[NEW, FIN, RELEASE, CODE OK, BILLED]",152 days 14:43:48,5.0

# 6. Find the longest/shortest case by duration - duration = ts(last event in case) - ts(first event in case)

In [18]:
caseList_maxDuration = event_df['Caseid'][event_df['Duration']==event_df['Duration'].max()].to_list()
event_df['Duration'].max(),len(caseList_maxDuration), caseList_maxDuration

(Timedelta('1035 days 10:06:32'), 1, ['GTC'])

In [19]:
event_df['Duration'].min()

Timedelta('0 days 00:00:00')

In [20]:
caseList_minDuration = event_df['Caseid'][event_df['Duration']==event_df['Duration'].min()].to_list()
len(caseList_minDuration), caseList_minDuration

(1836,
 ['U',
  'V',
  'ZD',
  'AE',
  'CE',
  'DE',
  'EE',
  'FE',
  'GE',
  'HE',
  'IE',
  'JE',
  'KE',
  'LE',
  'ME',
  'NE',
  'OE',
  'PE',
  'QE',
  'RE',
  'SE',
  'TE',
  'UE',
  'VE',
  'WE',
  'XE',
  'TF',
  'IH',
  'LI',
  'MI',
  'OI',
  'QI',
  'RI',
  'SI',
  'TI',
  'IM',
  'JM',
  'KM',
  'LM',
  'MM',
  'NM',
  'OM',
  'PM',
  'QM',
  'RM',
  'SM',
  'TM',
  'UM',
  'VM',
  'TN',
  'UN',
  'VN',
  'WN',
  'XN',
  'ZO',
  'AP',
  'CP',
  'GQ',
  'HQ',
  'IQ',
  'JQ',
  'CR',
  'DR',
  'ER',
  'FR',
  'GR',
  'HR',
  'IR',
  'JR',
  'KR',
  'LR',
  'MR',
  'NR',
  'OR',
  'PR',
  'QR',
  'ZS',
  'TT',
  'UT',
  'VT',
  'WT',
  'XT',
  'YT',
  'ZT',
  'AU',
  'BU',
  'CU',
  'DU',
  'EU',
  'ZX',
  'AY',
  'BY',
  'CY',
  'DY',
  'EY',
  'FY',
  'GY',
  'HY',
  'IY',
  'JY',
  'KY',
  'LY',
  'MY',
  'NY',
  'PY',
  'QY',
  'RY',
  'FZ',
  'GZ',
  'HZ',
  'IZ',
  'JZ',
  'KZ',
  'LZ',
  'MZ',
  'NZ',
  'OZ',
  'PZ',
  'QZ',
  'SZ',
  'TZ',
  'UZ',
  'VZ',
  'WZ',
  'XZ',
  'ZZ',
  'AAA',
  'ZBA',
  'CEA',
  'DEA',
  'EEA',
  'FEA',
  'HEA',
  'IEA',
  'JEA',
  'UIA',
  'VIA',
  'WIA',
  'XIA',
  'YIA',
  'ZIA',
  'AJA',
  'BJA',
  'CJA',
  'DJA',
  'EJA',
  'FJA',
  'GJA',
  'HJA',
  'IJA',
  'JJA',
  'OLA',
  'PLA',
  'QLA',
  'RLA',
  'SLA',
  'TLA',
  'VLA',
  'WLA',
  'YLA',
  'ZLA',
  'AMA',
  'BMA',
  'CMA',
  'DMA',
  'EMA',
  'FMA',
  'GMA',
  'IMA',
  'RNA',
  'SNA',
  'TNA',
  'UNA',
  'VNA',
  'VSA',
  'WSA',
  'XSA',
  'YSA',
  'ZSA',
  'BTA',
  'CTA',
  'DTA',
  'ETA',
  'FTA',
  'GTA',
  'HTA',
  'ITA',
  'JTA',
  'KTA',
  'LTA',
  'MTA',
  'NTA',
  'OTA',
  'PTA',
  'QTA',
  'RTA',
  'STA',
  'TTA',
  'UTA',
  'VTA',
  'WTA',
  'XTA',
  'YTA',
  'ZTA',
  'AUA',
  'BUA',
  'CUA',
  'DUA',
  'EUA',
  'FUA',
  'GUA',
  'IUA',
  'JUA',
  'KUA',
  'KYA',
  'LYA',
  'MYA',
  'NYA',
  'OYA',
  'PYA',
  'QYA',
  'RYA',
  'SYA',
  'TYA',
  'VYA',
  'WYA',
  'XYA',
  'YYA',
  'AZA',
  'BZA',
  'CZA',
  'DZA',
  'EZA',
  'FZA',
  'GZA',
  'HZA',
  'IZA',
  'JZA',
  'KZA',
  'LZA',
  'MZA',
  'NZA',
  'OZA',
  'PZA',
  'QZA',
  'RZA',
  'SZA',
  'TZA',
  'UZA',
  'VZA',
  'WZA',
  'XZA',
  'YZA',
  'ZZA',
  'AAB',
  'BAB',
  'CAB',
  'GGB',
  'HGB',
  'IGB',
  'JGB',
  'NGB',
  'OGB',
  'PGB',
  'RGB',
  'SGB',
  'TGB',
  'UGB',
  'VGB',
  'MKB',
  'NKB',
  'TKB',
  'UKB',
  'WKB',
  'XKB',
  'ZKB',
  'ALB',
  'BLB',
  'CLB',
  'DLB',
  'ELB',
  'FLB',
  'GLB',
  'JOB',
  'KOB',
  'LOB',
  'MOB',
  'NOB',
  'OOB',
  'POB',
  'QOB',
  'ROB',
  'SOB',
  'TOB',
  'IPB',
  'JPB',
  'KPB',
  'LPB',
  'MPB',
  'NPB',
  'OPB',
  'PPB',
  'RPB',
  'SPB',
  'TPB',
  'UPB',
  'VPB',
  'WPB',
  'XPB',
  'YPB',
  'ZPB',
  'AQB',
  'KQB',
  'LQB',
  'MQB',
  'QRB',
  'RRB',
  'EWB',
  'FWB',
  'GWB',
  'HWB',
  'IWB',
  'JWB',
  'KWB',
  'LWB',
  'MWB',
  'NWB',
  'OWB',
  'PWB',
  'QWB',
  'RWB',
  'SWB',
  'TWB',
  'UWB',
  'VWB',
  'WWB',
  'XWB',
  'YWB',
  'ZWB',
  'AXB',
  'BXB',
  'CXB',
  'DXB',
  'EXB',
  'FXB',
  'GXB',
  'HXB',
  'IXB',
  'JXB',
  'KXB',
  'LXB',
  'MXB',
  'NXB',
  'OXB',
  'PXB',
  'QXB',
  'RXB',
  'SXB',
  'TXB',
  'UXB',
  'VXB',
  'WXB',
  'XXB',
  'YXB',
  'ZXB',
  'AYB',
  'BYB',
  'CYB',
  'DYB',
  'EYB',
  'FYB',
  'YYB',
  'MBC',
  'NBC',
  'OBC',
  'PBC',
  'CEC',
  'DEC',
  'EEC',
  'FEC',
  'HEC',
  'IEC',
  'JEC',
  'KEC',
  'LEC',
  'MEC',
  'NEC',
  'OEC',
  'PEC',
  'QEC',
  'REC',
  'SEC',
  'TEC',
  'UEC',
  'VEC',
  'WEC',
  'YEC',
  'ZEC',
  'AFC',
  'BFC',
  'DFC',
  'EFC',
  'FFC',
  'HFC',
  'IFC',
  'JIC',
  'KIC',
  'MIC',
  'NIC',
  'PIC',
  'QIC',
  'RIC',
  'SIC',
  'TIC',
  'UIC',
  'VIC',
  'WIC',
  'XIC',
  'YIC',
  'ZIC',
  'AJC',
  'BJC',
  'CJC',
  'PNC',
  'QNC',
  'RNC',
  'SNC',
  'TNC',
  'UNC',
  'VNC',
  'WNC',
  'XNC',
  'ZNC',
  'AOC',
  'BOC',
  'COC',
  'DOC',
  'EOC',
  'FOC',
  'GOC',
  'IOC',
  'JOC',
  'KOC',
  'LOC',
  'MOC',
  'NOC',
  'OOC',
  'POC',
  'QOC',
  'ROC',
  'SOC',
  'TOC',
  'UOC',
  'VOC',
  'WOC',
  'YOC',
  'ZOC',
  'APC',
  'BPC',
  'CPC',
  'DPC',
  'DSC',
  'ESC',
  'FSC',
  'GSC',
  'HSC',
  'ISC',
  'KSC',
  'LSC',
  'MSC',
  'OSC',
  'PSC',
  'QSC',
  'RSC',
  'SSC',
  'TSC',
  'USC',
  'VSC',
  'WSC',
  'XSC',
  'YSC',
  'ZSC',
  'ATC',
  'ITC',
  'JTC',
  'KTC',
  'LTC',
  'MTC',
  'NTC',
  'OTC',
  'PTC',
  'QTC',
  'RTC',
  'STC',
  'TTC',
  'UTC',
  'VTC',
  'KZC',
  'LZC',
  'MZC',
  'NZC',
  'OZC',
  'PZC',
  'QZC',
  'RZC',
  'SZC',
  'TZC',
  'UZC',
  'VZC',
  'WZC',
  'XZC',
  'YZC',
  'ZZC',
  'AAD',
  'BAD',
  'CAD',
  'DAD',
  'EAD',
  'FAD',
  'HAD',
  'IAD',
  'JAD',
  'KAD',
  'LAD',
  'MAD',
  'OAD',
  'PAD',
  'QAD',
  'RAD',
  'SAD',
  'TAD',
  'UAD',
  'VAD',
  'WAD',
  'EGD',
  'FGD',
  'GGD',
  'HGD',
  'JGD',
  'KGD',
  'LGD',
  'MGD',
  'NGD',
  'OGD',
  'PGD',
  'QGD',
  'RGD',
  'SGD',
  'TGD',
  'VGD',
  'WGD',
  'XGD',
  'YGD',
  'ZGD',
  'AHD',
  'BHD',
  'CHD',
  'DHD',
  'EHD',
  'FHD',
  'GHD',
  'HHD',
  'IHD',
  'JHD',
  'KHD',
  'JLD',
  'KLD',
  'LLD',
  'MLD',
  'NLD',
  'QLD',
  'RLD',
  'SLD',
  'PQD',
  'DSD',
  'ESD',
  'FSD',
  'GSD',
  'HSD',
  'ISD',
  'JSD',
  'KSD',
  'MSD',
  'OSD',
  'PSD',
  'QSD',
  'RSD',
  'SSD',
  'WVD',
  'XVD',
  'YVD',
  'ZVD',
  'AWD',
  'BWD',
  'CWD',
  'DWD',
  'EWD',
  'FWD',
  'GWD',
  'HWD',
  'IWD',
  'JWD',
  'KWD',
  'MWD',
  'NWD',
  'TYD',
  'UYD',
  'VYD',
  'WYD',
  'OBE',
  'FEE',
  'GEE',
  'HEE',
  'IEE',
  'JEE',
  'KEE',
  'LEE',
  'MEE',
  'NEE',
  'PEE',
  'QEE',
  'REE',
  'SEE',
  'UEE',
  'VEE',
  'WEE',
  'XEE',
  'YEE',
  'ZEE',
  'AFE',
  'XIE',
  'YIE',
  'PJE',
  'QJE',
  'RJE',
  'SJE',
  'TJE',
  'UJE',
  'VJE',
  'WJE',
  'XJE',
  'YJE',
  'ZJE',
  'AKE',
  'BKE',
  'CKE',
  'DKE',
  'EKE',
  'FKE',
  'GKE',
  'HKE',
  'IKE',
  'JKE',
  'KKE',
  'LKE',
  'MKE',
  'NKE',
  'OKE',
  'PKE',
  'QKE',
  'RKE',
  'SKE',
  'TKE',
  'UKE',
  'VKE',
  'WKE',
  'XKE',
  'YKE',
  'ZKE',
  'ALE',
  'BLE',
  'CLE',
  'DLE',
  'ELE',
  'FLE',
  'GLE',
  'HLE',
  'ILE',
  'JLE',
  'KLE',
  'LLE',
  'MLE',
  'NLE',
  'MOE',
  'NOE',
  'OOE',
  'POE',
  'QOE',
  'PSE',
  'QSE',
  'RSE',
  'TSE',
  'USE',
  'VSE',
  'WSE',
  'XSE',
  'YSE',
  'ZSE',
  'ATE',
  'BTE',
  'CTE',
  'ETE',
  'FTE',
  'GTE',
  'HTE',
  'ITE',
  'JTE',
  'KTE',
  'LTE',
  'MTE',
  'NTE',
  'OTE',
  'PTE',
  'QTE',
  'RTE',
  'STE',
  'TTE',
  'UTE',
  'VTE',
  'WTE',
  'XTE',
  'YTE',
  'ZTE',
  'AUE',
  'KUE',
  'LUE',
  'BWE',
  'ACF',
  'BCF',
  'CCF',
  'DCF',
  'FCF',
  'GCF',
  'HCF',
  'ICF',
  'JCF',
  'KCF',
  'MCF',
  'DDF',
  'EDF',
  'FDF',
  'JEF',
  'KEF',
  'LEF',
  'OFF',
  'PFF',
  'EJF',
  'FJF',
  'GJF',
  'HJF',
  'JJF',
  'KJF',
  'LJF',
  'MJF',
  'NJF',
  'OJF',
  'PJF',
  'QJF',
  'SJF',
  'TJF',
  'UJF',
  'VJF',
  'WJF',
  'XJF',
  'YJF',
  'ZJF',
  'AKF',
  'CKF',
  'DKF',
  'EKF',
  'FKF',
  'GKF',
  'HKF',
  'BOF',
  'COF',
  'DOF',
  'EOF',
  'FOF',
  'GOF',
  'HOF',
  'IOF',
  'JOF',
  'KOF',
  'LOF',
  'MOF',
  'NOF',
  'OOF',
  'POF',
  'QOF',
  'ROF',
  'SOF',
  'TOF',
  'UOF',
  'VOF',
  'WOF',
  'XOF',
  'YOF',
  'ZOF',
  'APF',
  'BPF',
  'CPF',
  'DPF',
  'EPF',
  'FPF',
  'GPF',
  'HPF',
  'IPF',
  'JPF',
  'KPF',
  'LPF',
  'MPF',
  'NPF',
  'OPF',
  'ASF',
  'QSF',
  'RSF',
  'SSF',
  'TSF',
  'VSF',
  'WSF',
  'YSF',
  'ZSF',
  'ATF',
  'BTF',
  'CTF',
  'DTF',
  'ETF',
  'FTF',
  'GTF',
  'ITF',
  'JTF',
  'KTF',
  'LTF',
  'HYF',
  'IYF',
  'JYF',
  'KYF',
  'LYF',
  'MYF',
  'NYF',
  'OYF',
  'PYF',
  'QYF',
  'RYF',
  'SYF',
  'UYF',
  'VYF',
  'WYF',
  'XYF',
  'YYF',
  'ZYF',
  'AZF',
  'BZF',
  'UBG',
  'WBG',
  'XBG',
  'YBG',
  'ACG',
  'BCG',
  'CCG',
  'GDG',
  'HDG',
  'IDG',
  'JDG',
  'KDG',
  'LDG',
  'MDG',
  'KIG',
  'LIG',
  'MIG',
  'NIG',
  'OIG',
  'PIG',
  'QIG',
  'RIG',
  'SIG',
  'UIG',
  'VIG',
  'WIG',
  'XIG',
  'YIG',
  'ZIG',
  'AJG',
  'BJG',
  'CJG',
  'DJG',
  'EJG',
  'FJG',
  'GJG',
  'HJG',
  'IJG',
  'JJG',
  'KJG',
  'LJG',
  'MJG',
  'NJG',
  'PJG',
  'QJG',
  'RJG',
  'SJG',
  'TJG',
  'UJG',
  'VJG',
  'WJG',
  'XJG',
  'YJG',
  'ZJG',
  'AKG',
  'BKG',
  'CKG',
  'DKG',
  'EKG',
  'FKG',
  'KMG',
  'HPG',
  'IPG',
  'JPG',
  'KPG',
  'LPG',
  'MPG',
  'NPG',
  'OPG',
  'PPG',
  'QPG',
  'RPG',
  'TPG',
  'UPG',
  'VPG',
  'WPG',
  'XPG',
  'YPG',
  'ZPG',
  'AQG',
  'BQG',
  'DQG',
  'EQG',
  'FQG',
  'HQG',
  'JQG',
  'KQG',
  'LQG',
  'MQG',
  'NQG',
  'PQG',
  'QQG',
  'RQG',
  'SQG',
  'TQG',
  'UQG',
  'VQG',
  'WQG',
  'XQG',
  'YQG',
  'ZQG',
  'ARG',
  'BRG',
  'CRG',
  'DRG',
  'ERG',
  'FRG',
  'GRG',
  'HRG',
  'IRG',
  'JRG',
  'KRG',
  'LRG',
  'BSG',
  'ZVG',
  'AWG',
  'BWG',
  'UBH',
  'VBH',
  'WBH',
  'YBH',
  'ZBH',
  'ACH',
  'BCH',
  'CCH',
  'DCH',
  'ECH',
  'FCH',
  'GCH',
  'HCH',
  'ICH',
  'JCH',
  'LCH',
  'MCH',
  'NCH',
  'OCH',
  'PCH',
  'QCH',
  'SFH',
  'UFH',
  'VFH',
  'WFH',
  'XFH',
  'YFH',
  'ZFH',
  'AGH',
  'BGH',
  ...])

In [21]:
# Example of a Case with Min duration
event_df[event_df['Caseid']=='SQG']

     Caseid List of events ordered by timestamp         Duration  Event_number
5191    SQG                               [NEW]  0 days 00:00:00           1.0

# 7. Fine the longest case(s) by number of events

In [22]:
list_max_eventno= event_df['Caseid'][event_df['Event_number']==event_df['Event_number'].max()].to_list()
len(list_max_eventno)

1